<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        <!--AngularJS-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>AngularJS Form validation</h2>
            <h3>Form validation</h3>
            <p>AngularJS offers client side form validation</p>
            <p>AngularJS monitors the state of the form and input fields (input, textarea, select) and lets you notify the user about the current state</p>
            <p>AngularJS also holds the information whether they been touched or modified or not.</p>
            <p>You can use standart HTML5 attributes to validate the input, or you can make your own validation functions</p>
            <p>Client side validation cannot alone secure user input. Server side validation is also necessary</p>
            <h3>Required</h3>
            <p>Use the <code>HTML5</code> attribute required to specify that the input field must be filled out</p>
            <!-- <div ng-app="">
                <p>Enter here</p>
                    <form name="myForm">
                        text: <input type="text" name="myInput" ng-model="myInp" required><br>
                        email: <input type="email" name="myEmail" ng-model="myEml" required><br>
                    </form>
                    <p>The valid state of your inputs are:</p>
                    text - {{myForm.myInput.$valid}}<br>
                    email - {{myForm.myEmail.$valid}}<br>
                    {{myForm.myInput.$valid}}<br>
                    {{myForm.myInput.$valid}}<br>
                    {{myForm.myInput.$valid}}
            </div> -->
            <h3>Form state and input state</h3>
            <p>AngularJS is constantly updating the state of both the form and the input fields</p>
            <p>Input fields have the following states:</p>
            <ul>
                <li><code>$untouched</code></li>
                <li><code>$touched</code></li>
                <li><code>$pristine</code></li>
                <li><code>$dirty</code></li>
                <li><code>$invalid</code></li>
                <li><code>$valid</code></li>
            </ul>
            <p>They are all properties of the input field, and are either true or false</p>
            <p>Forms have the following states</p>
            <ul>
                <li><code>$pristine</code></li>
                <li><code>$dirty</code></li>
                <li><code>$invalid</code></li>
                <li><code>$valid</code></li>
                <li><code>$submitted</code></li>
            </ul>
            <p>They are all properties of the form and are either <code>true</code> or <code>false</code></p>
            <p>You can use these states to show meaningful messages to the user</p>
            <p>For example if the field is required and user leaves it blank he will be given a warning</p>
            <!-- <div ng-app="">
                <form name="myForm">
                    <input name="myName" ng-model="myNm" required>
                    <span ng-show="myForm.myName.$invalid && myForm.myName.$touched">The name is required</span>
                </form>
            </div> -->
            <h3>CSS Classes</h3>
            <p>AngularJS adds CSS classes to forms and input fields depending on their states</p>
            <p>The following classes are added to or removed from input fields</p>
            <ul>
                <li><code>ng-untouched</code> the field hasn't been touched yet</li>
                <li><code>ng-touched</code> the field has been touched</li>
                <li><code>ng-pristine</code> the field hasn't been modified yet</li>
                <li><code>ng-dirty</code> the field has been modified</li>
                <li><code>ng-valid</code> the field content is valid</li>
                <li><code>ng-invalid</code> the field content is not valid</li>
                <li><code>ng-valid-key</code> one key for each validation. Useful when there must be more than one validation</li>
                <li><code>ng-invalid-key</code> same as for ng-valid-key</li>
            </ul>
            <p>The following classes are added to or removed from forms</p>
            <ul>
                <li><code>ng-pristine</code> no fields has been modified yet</li>
                <li><code>ng-dirty</code> one or more fields has been modified</li>
                <li><code>ng-valid</code> the form content is valid</li>
                <li><code>ng-invalid</code> the form content is invalid</li>
                <li><code>ng-valid-key</code> one key for each validation</li>
                <li><code>ng-invalid-key</code> same as previous</li>
            </ul>
            <p>The classes are removed if the value they represent is false</p>
            <p>Add styles to these classes to give your application a better and more intuitive user interface</p>
            <p>Forms can also be styled</p>
            <!-- <style>
                input.ng-valid {
                    background-color: lightgreen
                }
                input.ng-invalid {
                    background-color: pink
                }
                form.ng-valid {
                    background-color: lightgreen
                }
                form.ng-invalid {
                    background-color: pink
                }
            </style>
            <div ng-app="">
                <input type="email" name="name" ng-model="name" required>
                <form>
                    <input type="text" name="name2" ng-model="name2" required>
                </form>
            </div> -->
            <h3>Custom validation</h3>
            <p>To create your own validation function is a bit more tricky. You have to add new directive to your application and deal with the validation inside a function with certain specified arguments</p>
            <p>In the following example the field will only be valid if it contains letter 'e'</p>
            <!-- <div ng-app="myApp">
                <form name="formName">
                    <input type="text" name="inputName" ng-model="inputName" required my-directive>
                </form>
                <p>The input's valid state is:</p>
                <h1>{{formName.inputName.$valid}}</h1>
            </div>
            <script>
                var app = angular.module('myApp', []);
                app.directive('myDirective', function() {
                    return {
                        require: 'ngModel',
                        link: function(scope, element, attr, mCtrl) {
                            function myValidation(value) {
                                if(value.indexOf('e') > -1) {
                                    mCtrl.$setValidity('charE', true);
                                } else {
                                    mCtrl.$setValidity('charE', false);
                                }
                                return value;
                            }
                            mCtrl.$parsers.push(myValidation);
                        }
                    };
                });
            </script> -->
            <p>In HTML the new directive will be referred to by using the attribute <code>my-directive</code></p>
            <p>In the JavaScript we start by adding a new directrve named <code>myDirective</code></p>
            <p>Remember, when naming a directive you must use a camel case name, <code>myDirective</code>, but when invoking it you must use <code>-</code> separated name <code>my-directive</code>.</p>
            <p>Then return an object where you specify that we require <code>ngModel</code>, which is the ngModelController</p>
            <p>Make a linking function which takes in some arguments, where the fourth argument <code>mCtrl</code> is the <code>ngModelController</code></p>
            <p>Then specify a function, in this case named <code>myValidation</code>, which takes one argument, this argument is the value of the input element</p>
            <p>Test if the value contains the letter 'e', and set the validity of the model controller to either <code>true</code> or <code>false</code>.</p>
            <p>At last <code>mCtrl.$parsers.push(myValidation);</code> will add the <code>myValidation</code> function to an array of other functions, which will be executed every time the input value changes</p>
            <h3>Validation example</h3>
            <form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>
                <p>Username:<br>
                    <input type="text" name="user" ng-model="user" required>
                    <span style="color: red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                        <span ng-show="myForm.user.$error.required">User name is required</span>
                    </span>
                </p>
                <p>
                    <input type="email" name="email" ng-model="email" required>
                    <span style="color: red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                        <span ng-show="myForm.email.$error.required">Email is required!</span>
                        <span ng-show="myForm.email.$error.email">Invalid email address</span>
                    </span>
                </p>
                <p>
                    <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid||myForm.email.$dirty && myForm.email.$invalid">
                </p>
            </form>
            <script>
                var app = angular.module('myApp', []);
                app.controller('validateCtrl', function($scope) {
                    $scope.user = 'John Doe';
                    $scope.email = 'johnDoe@gmail.com'
                });
            </script>
            <p>The HTML attribute <code>novalidate</code> is used to disable default browser validation</p>
            <p>The AngularJS directive <strong>ng-model</strong> binds the input elements to the model</p>
            <p>The <strong>model</strong> object has two properties: <strong>user</strong> and <strong>email</strong>.</p>
            <p>Because of <strong>ng-show</strong> the spans with color:red are displayed only when the <strong>user</strong> or <strong>email</strong> is <strong>$dirty</strong> or <strong>$invalid</strong></p>
            
        </div>
    </body>
</html>
